.contenedor-mis-productos{
    width: 60%;
    min-height: 500px;
    margin: auto;
    /* background: white; */
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.div-titulo-misproductos{
    width: 100%;
    margin-top: 30px;
    /* background: burlywood; */
}

.div-titulo-misproductos h2{
    font-size: 22px;
}

.div-titulo-misproductos p{
    margin-top: 10px;
    font-size: 15px;
}

.div-botones-venta-vendidos{
    width: 17%;
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.div-botones-venta-vendidos div{
    width: 43%;
    height: 30px;
    margin-top: 20px;
    /* background: blue; */
}

.div-botones-venta-vendidos div input{
    width: 100%;
    height: 30px;
    color: #5C5C5C;
    background: none;
    font-size: 12px;
    border:none;
    font-weight: bold;
    cursor: pointer;
}


.div-botones-venta-vendidos div input:focus{
    outline : none;
}