.section-perfil{
    width: 100%;
    min-height: 800px;
    background: #F3F3F3; 
}

.contenedor-perfil{
    width: 65%;
    min-height: 700px;
    /* background: greenyellow; */
    /* margin: auto; */
    margin-left: 20%;
    display: flex;
    flex-direction: column;
}

.div-titulo-perfil{
    width: 100%;
    height: 70px;
    /* background: greenyellow; */
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.div-izqueirda-editar-perfil{
    width: 50%;
}

.div-redecha-editar-perfil{
    width: 12%;
}

.div-titulo-perfil h2{
    font-size: 22px;
}

.div-titulo-perfil p{
    margin-top: 10px;
    font-size: 15px;
}

.div-titulo-perfil input{
    width: 100%;
    height: 70%;
    border-radius: 30px;
    border: 1px solid #CACACA;
    transition: all 300ms;
    cursor: pointer;
}

.div-titulo-perfil input:hover{
    color: white;
    background: #E45F5F;
}

.div-titulo-perfil input:focus{
    outline: none;
}

.div-botones-perfil{
    width: 17%;
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.div-botones-perfil div input{
    width: 100%;
    height: 30px;
    color: #5C5C5C;
    background: none;
    font-size: 12px;
    border:none;
    font-weight: bold;
    cursor: pointer;
}

.div-botones-perfil div input:focus{
    outline : none;
}