.contenedor-producto-vacio{
    width: 96%;
    height: 100px;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.div-imagen-vacia{
    width: 10%;
    height: 90px;
    margin-top: 5px;
    margin-left: 1%;
    background: #F3F3F3;
    border-radius: 5px;
}

.div-texto-vacio{
    width: 10%;
    height: 20px;
    margin-left: 4%;
    background: #F3F3F3;
    margin-top: 40px;
    border-radius: 5px;
}